#root {
  height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-content {
  flex: 1;
}

.app-content > h1 {
  color: white;
}

.header {
  padding: 16px;
}

button {
  background-color: lightblue;
  box-shadow: none;
  border: 1px solid;
  font-size: 16px;
  padding: 8px;
  color: black;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .app-container {
    flex-direction: column;
  }  
}